{
  "openapi": "3.0.3",
  "info": {
    "title": "Creance",
    "version": "0.1.0",
    "description": "Parametric occupation cover funded by Displacement Bond Notes, on Hedera testnet.\n\nA worker buys cover against their occupation being displaced. Claims open when\nthe Occupation Displacement Index says the occupation is being displaced, and a\npayout also needs proof that the person lost their job. Investors fund the\npayouts and earn the premiums as coupons.\n\nTestnet only. No mainnet endpoints, no real funds.\n\nMoney: every amount is an integer string in the settlement asset smallest unit,\nwith the asset and its decimals beside it. Never parse `display`.\n\nErrors: RFC 9457 `application/problem+json`, with a `code` to switch on and a\n`retryable` boolean for an agent retry loop.\n\nPayment: the three metered operations are x402 version 2, scheme `exact`,\nnetwork `hedera:testnet`, settled through the Blocky402 testnet facilitator.\nAn unpaid call is refused with 402 and the requirements in the\n`PAYMENT-REQUIRED` header; every settlement is written to the payments topic.",
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://creance.co",
      "description": "Creance, Hedera testnet only."
    }
  ],
  "tags": [
    {
      "name": "index",
      "description": "The Occupation Displacement Index."
    },
    {
      "name": "cover",
      "description": "Quoting and binding a policy."
    },
    {
      "name": "series",
      "description": "The Displacement Bond Note series."
    }
  ],
  "paths": {
    "/v1/index/{group}": {
      "get": {
        "tags": [
          "index"
        ],
        "operationId": "getIndex",
        "summary": "The metered index feed for an occupation group",
        "description": "The latest published observation, the last twenty-four months and the\ntrigger status, with the source series and the source file hash so a\nreader can recompute the number from the cited rows.\n\nPrice: 0.01 TUSD, smallest unit `10000`, asset `0.0.10366463`, decimals 6.",
        "parameters": [
          {
            "name": "group",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "management_business_financial",
                "professional_related",
                "service",
                "sales_related",
                "office_admin_support",
                "farming_fishing_forestry",
                "construction_extraction",
                "installation_maintenance_repair",
                "production",
                "transportation_material_moving",
                "computer_math",
                "legal",
                "arts_design_ent_media",
                "business_financial_ops",
                "education_training_library"
              ]
            },
            "example": "computer_math"
          },
          {
            "name": "PAYMENT-SIGNATURE",
            "in": "header",
            "required": false,
            "description": "x402 version 2 payment payload, network hedera:testnet, scheme exact. Required: an unpaid call is refused with 402.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The reading, its history and the trigger status.",
            "headers": {
              "PAYMENT-RESPONSE": {
                "description": "x402 version 2 settlement receipt, carrying the facilitator transaction id.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndexReading"
                }
              }
            }
          },
          "400": {
            "description": "`group_unknown`: not one of the fifteen groups.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Price 0.01 TUSD.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "x402 version 2 payment requirements for this resource.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "503": {
            "description": "`index_unavailable`: no observation published yet.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/quote": {
      "post": {
        "tags": [
          "cover"
        ],
        "operationId": "createQuote",
        "summary": "Price cover for an occupation and a limit",
        "description": "The binding price, with the capacity behind it checked against the series\nprincipal. A quote takes no capacity hold and is valid for fifteen minutes.\n\nCapacity is committed per occupation, so a group with no Displacement Bond\nNote series behind it answers `no_capacity_for_group` rather than quoting a\nprice nobody can buy.\n\nPrice: 0.05 TUSD, smallest unit `50000`, asset `0.0.10366463`, decimals 6.\nAn eligibility credential also satisfies the gate, because it is the output\nof a live biometric check and is a stronger anti-abuse signal than the fee.",
        "parameters": [
          {
            "name": "PAYMENT-SIGNATURE",
            "in": "header",
            "required": false,
            "description": "x402 version 2 payment payload, network hedera:testnet, scheme exact. Required: an unpaid call is refused with 402.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {},
          {
            "eligibilityCredential": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The quote.",
            "headers": {
              "PAYMENT-RESPONSE": {
                "description": "x402 version 2 settlement receipt, carrying the facilitator transaction id.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quote"
                }
              }
            }
          },
          "400": {
            "description": "`group_unknown` or `limit_out_of_range`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Price 0.05 TUSD.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "x402 version 2 payment requirements for this resource.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "`no_capacity_for_group`, `insufficient_capacity` or `series_not_open_for_binding`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bind": {
      "post": {
        "tags": [
          "cover"
        ],
        "operationId": "bindPolicy",
        "summary": "Bind a quoted policy",
        "description": "Registers the policy in CoverPool, writes a receipt to the payments topic\nand mints the policy NFT to the holder wallet.\n\nThe body is a quote id and nothing else: the amount, the wallet and the\nlimit all come from the quote and from the eligibility credential, so a\nrequest cannot influence its own price.\n\nAn eligibility credential is required. An agent gets one from its\nprincipal, after that person completes a World Selfie Check; the agent\nnever performs the check itself, and the NFT is always minted to the\nprincipal wallet named in the credential.\n\nPrice: the first month premium, taken from the quote. There is no static\nprice for this operation.",
        "parameters": [
          {
            "name": "PAYMENT-SIGNATURE",
            "in": "header",
            "required": false,
            "description": "x402 version 2 payment payload, network hedera:testnet, scheme exact. Required: an unpaid call is refused with 402.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "eligibilityCredential": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BindRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The bound policy.",
            "headers": {
              "PAYMENT-RESPONSE": {
                "description": "x402 version 2 settlement receipt, carrying the facilitator transaction id.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            }
          },
          "401": {
            "description": "`credential_missing` or `credential_invalid`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Price the first month premium from the quote.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "x402 version 2 payment requirements for this resource.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "`credential_expired`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "`already_covered`, `credential_consumed`, `quote_consumed`, `wallet_mismatch`, `group_mismatch`, `series_mismatch` or `insufficient_capacity`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "410": {
            "description": "`quote_expired`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "502": {
            "description": "`chain_write_failed`: the pool refused the write.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/policy/{policyId}": {
      "get": {
        "tags": [
          "cover"
        ],
        "operationId": "getPolicy",
        "summary": "A policy by its id",
        "description": "Free. The response carries the cover, the dates, the NFT serial, the HCS\nreceipt sequence number and the bind transaction, and nothing that\nidentifies the person.",
        "parameters": [
          {
            "name": "policyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^pol_[0-9A-HJKMNP-TV-Z]{26}$"
            },
            "example": "pol_01K4YB9X3M8Q0RZ7T2VD6C5H9E"
          }
        ],
        "responses": {
          "200": {
            "description": "The policy.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            }
          },
          "400": {
            "description": "`bad_id_prefix`: that is not a policy id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "`policy_not_found`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/series/{seriesId}": {
      "get": {
        "tags": [
          "series"
        ],
        "operationId": "getSeries",
        "summary": "A Displacement Bond Note series",
        "description": "The principal, the reserve, the paid claims and the noteholder positions, read from the chain. Free.",
        "parameters": [
          {
            "name": "seriesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ODI-COMP-2026-01"
          }
        ],
        "responses": {
          "200": {
            "description": "The series.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "`series_not_found`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/series/{seriesId}/coupons": {
      "get": {
        "tags": [
          "series"
        ],
        "operationId": "getSeriesCoupons",
        "summary": "Every coupon declared on a series, with what was paid",
        "description": "Free.",
        "parameters": [
          {
            "name": "seriesId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ODI-COMP-2026-01"
          }
        ],
        "responses": {
          "200": {
            "description": "The coupons.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "`series_not_found`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "eligibilityCredential": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "A short-lived eligibility credential, EdDSA over Ed25519, thirty minutes, carrying the nullifier, the occupation group, the series and the wallet. Verify it against GET /.well-known/jwks.json. An agent gets one from its principal after that person completes a World Selfie Check."
      }
    },
    "schemas": {
      "Money": {
        "type": "object",
        "required": [
          "amount",
          "asset",
          "decimals",
          "display"
        ],
        "properties": {
          "amount": {
            "type": "string",
            "description": "An integer in the asset smallest unit. 28.00 TUSD is 28000000.",
            "example": "28000000"
          },
          "asset": {
            "type": "string",
            "description": "The HTS token id.",
            "example": "0.0.10366463"
          },
          "decimals": {
            "type": "integer",
            "example": 6
          },
          "display": {
            "type": "string",
            "description": "For a human reading the JSON. Never parsed.",
            "example": "28.00"
          }
        }
      },
      "Problem": {
        "type": "object",
        "description": "RFC 9457 problem document. Every non-2xx response has this shape.",
        "required": [
          "type",
          "title",
          "status",
          "code",
          "request_id",
          "retryable"
        ],
        "properties": {
          "type": {
            "type": "string",
            "format": "uri"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "detail": {
            "type": "string"
          },
          "instance": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "description": "The machine-readable reason. Switch on this, never on detail.",
            "example": "insufficient_capacity"
          },
          "request_id": {
            "type": "string"
          },
          "retryable": {
            "type": "boolean"
          }
        }
      },
      "QuoteRequest": {
        "type": "object",
        "required": [
          "group",
          "limit",
          "wallet"
        ],
        "properties": {
          "group": {
            "type": "string",
            "enum": [
              "management_business_financial",
              "professional_related",
              "service",
              "sales_related",
              "office_admin_support",
              "farming_fishing_forestry",
              "construction_extraction",
              "installation_maintenance_repair",
              "production",
              "transportation_material_moving",
              "computer_math",
              "legal",
              "arts_design_ent_media",
              "business_financial_ops",
              "education_training_library"
            ],
            "example": "computer_math"
          },
          "limit": {
            "type": "string",
            "description": "The cover limit in the settlement asset smallest unit. 1,000 to 10,000 in steps of 500.",
            "example": "5000000000"
          },
          "wallet": {
            "type": "string",
            "description": "The policyholder Hedera account id.",
            "example": "0.0.10366453"
          },
          "series_id": {
            "type": "string",
            "description": "Optional. When absent the API picks the active series for the group.",
            "example": "ODI-COMP-2026-01"
          }
        }
      },
      "Quote": {
        "type": "object",
        "required": [
          "quote_id",
          "series_id",
          "group",
          "limit",
          "premium",
          "expires_at"
        ],
        "properties": {
          "quote_id": {
            "type": "string",
            "example": "qte_01K4YBB2R9F3M0N7X5T8W1C4Q6"
          },
          "series_id": {
            "type": "string",
            "example": "ODI-COMP-2026-01"
          },
          "group": {
            "type": "string",
            "enum": [
              "management_business_financial",
              "professional_related",
              "service",
              "sales_related",
              "office_admin_support",
              "farming_fishing_forestry",
              "construction_extraction",
              "installation_maintenance_repair",
              "production",
              "transportation_material_moving",
              "computer_math",
              "legal",
              "arts_design_ent_media",
              "business_financial_ops",
              "education_training_library"
            ]
          },
          "wallet": {
            "type": "string",
            "example": "0.0.10366453"
          },
          "limit": {
            "$ref": "#/components/schemas/Money"
          },
          "premium": {
            "$ref": "#/components/schemas/Money"
          },
          "annual_rate_bps": {
            "type": "integer",
            "example": 672
          },
          "pricing_basis": {
            "type": "object",
            "description": "Every assumption behind the rate, so nothing has to be taken on trust."
          },
          "term_months": {
            "type": "integer",
            "example": 12
          },
          "waiting_period_days": {
            "type": "integer",
            "example": 60
          },
          "cover_starts": {
            "type": "string",
            "format": "date"
          },
          "cover_ends": {
            "type": "string",
            "format": "date"
          },
          "claims_payable_from": {
            "type": "string",
            "format": "date"
          },
          "first_payment_due": {
            "type": "string",
            "format": "date"
          },
          "pays_from": {
            "type": "string",
            "example": "0.0.10366453"
          },
          "attachment_shock": {
            "type": "string",
            "description": "Percentage points, as a decimal string.",
            "example": "2.00"
          },
          "level_line": {
            "type": "string",
            "description": "Percentage points. Often negative, which is correct.",
            "example": "-0.68"
          },
          "payout_mode": {
            "type": "string",
            "enum": [
              "full",
              "indexed"
            ]
          },
          "capacity": {
            "type": "object",
            "properties": {
              "free_before": {
                "type": "string"
              },
              "free_after": {
                "type": "string"
              },
              "used_pct": {
                "type": "integer"
              }
            }
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "issued_via": {
            "type": "string",
            "enum": [
              "x402",
              "credential",
              "open"
            ]
          }
        }
      },
      "BindRequest": {
        "type": "object",
        "required": [
          "quote_id"
        ],
        "properties": {
          "quote_id": {
            "type": "string",
            "example": "qte_01K4YBB2R9F3M0N7X5T8W1C4Q6"
          },
          "eligibility": {
            "type": "string",
            "description": "The eligibility credential, when a client cannot set the Authorization header. Sending both is refused unless they are identical."
          }
        }
      },
      "Policy": {
        "type": "object",
        "required": [
          "policy_id",
          "series_id",
          "status",
          "limit",
          "premium"
        ],
        "properties": {
          "policy_id": {
            "type": "string",
            "example": "pol_01K4YB9X3M8Q0RZ7T2VD6C5H9E"
          },
          "series_id": {
            "type": "string",
            "example": "ODI-COMP-2026-01"
          },
          "group": {
            "type": "string",
            "enum": [
              "management_business_financial",
              "professional_related",
              "service",
              "sales_related",
              "office_admin_support",
              "farming_fishing_forestry",
              "construction_extraction",
              "installation_maintenance_repair",
              "production",
              "transportation_material_moving",
              "computer_math",
              "legal",
              "arts_design_ent_media",
              "business_financial_ops",
              "education_training_library"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "binding",
              "bound",
              "active",
              "payment_failed",
              "lapsed",
              "claims_open",
              "claimed",
              "under_review",
              "approved",
              "paid",
              "declined",
              "expired",
              "void"
            ]
          },
          "limit": {
            "$ref": "#/components/schemas/Money"
          },
          "premium": {
            "$ref": "#/components/schemas/Money"
          },
          "cover_starts": {
            "type": "string",
            "format": "date"
          },
          "cover_ends": {
            "type": "string",
            "format": "date"
          },
          "claims_payable_from": {
            "type": "string",
            "format": "date"
          },
          "next_payment_due": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "paid_through": {
            "type": "string",
            "example": "2026-09"
          },
          "holder_account": {
            "type": "string",
            "example": "0.0.10366453"
          },
          "nft": {
            "type": "object",
            "properties": {
              "token_id": {
                "type": "string",
                "nullable": true,
                "example": "0.0.10366468"
              },
              "serial": {
                "type": "integer",
                "nullable": true,
                "example": 3
              }
            }
          },
          "hcs_receipt": {
            "type": "object",
            "description": "The payments topic message that records the bind. Verify it on the mirror node at GET /topics/{topic_id}/messages?sequencenumber=eq:{sequence_number}.",
            "properties": {
              "topic_id": {
                "type": "string",
                "nullable": true,
                "example": "0.0.10366471"
              },
              "sequence_number": {
                "type": "integer",
                "nullable": true,
                "example": 41
              }
            }
          },
          "chain": {
            "type": "object",
            "properties": {
              "cover_pool": {
                "type": "string"
              },
              "bind_transaction": {
                "type": "string",
                "nullable": true
              },
              "hashscan": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "premium_schedule": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string"
              },
              "href": {
                "type": "string"
              }
            }
          }
        }
      },
      "IndexReading": {
        "type": "object",
        "required": [
          "group",
          "as_of",
          "reading",
          "trigger",
          "history"
        ],
        "properties": {
          "group": {
            "type": "string",
            "enum": [
              "management_business_financial",
              "professional_related",
              "service",
              "sales_related",
              "office_admin_support",
              "farming_fishing_forestry",
              "construction_extraction",
              "installation_maintenance_repair",
              "production",
              "transportation_material_moving",
              "computer_math",
              "legal",
              "arts_design_ent_media",
              "business_financial_ops",
              "education_training_library"
            ]
          },
          "group_label": {
            "type": "string",
            "example": "Computer and mathematical"
          },
          "series_id": {
            "type": "string",
            "nullable": true,
            "example": "ODI-COMP-2026-01"
          },
          "as_of": {
            "type": "string",
            "example": "2026-07"
          },
          "reading": {
            "$ref": "#/components/schemas/Observation"
          },
          "trigger": {
            "type": "object",
            "properties": {
              "attachment_shock": {
                "type": "string",
                "example": "2.00"
              },
              "level_line": {
                "type": "string",
                "example": "-0.68"
              },
              "open": {
                "type": "boolean"
              },
              "open_reason": {
                "type": "string",
                "nullable": true,
                "enum": [
                  "shock",
                  "level",
                  "both",
                  null
                ]
              },
              "shock_margin": {
                "type": "string",
                "nullable": true,
                "description": "The ODI less the shock attachment."
              },
              "level_margin": {
                "type": "string",
                "nullable": true,
                "description": "The smoothed excess less the level line."
              }
            }
          },
          "headline": {
            "type": "object",
            "nullable": true,
            "description": "Whichever form is nearer its line, chosen here so two screens cannot choose differently.",
            "properties": {
              "form": {
                "type": "string",
                "enum": [
                  "shock",
                  "level"
                ]
              },
              "distance": {
                "type": "string",
                "example": "-0.08"
              },
              "on_the_line": {
                "type": "boolean"
              },
              "open": {
                "type": "boolean"
              }
            }
          },
          "history": {
            "type": "array",
            "description": "Up to twenty-four months, oldest first.",
            "items": {
              "$ref": "#/components/schemas/Observation"
            }
          },
          "source": {
            "type": "object",
            "properties": {
              "series": {
                "type": "string",
                "nullable": true,
                "example": "bls:LNU04032215"
              },
              "hash": {
                "type": "string",
                "nullable": true,
                "description": "sha256 over the source rows the observation was computed from, in canonical JSON."
              },
              "model_version": {
                "type": "string"
              },
              "replay": {
                "type": "boolean"
              }
            }
          },
          "publication": {
            "type": "object",
            "description": "Where the observation was published. Null until the index oracle publishes it.",
            "properties": {
              "topic_id": {
                "type": "string",
                "nullable": true
              },
              "sequence_number": {
                "type": "integer",
                "nullable": true
              },
              "submit_transaction": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Observation": {
        "type": "object",
        "description": "One month. Every index value is a decimal string in percentage points, never a JSON number, because on chain they are int64 scaled by 1e4.",
        "properties": {
          "period": {
            "type": "string",
            "example": "2026-07"
          },
          "u_g": {
            "type": "string",
            "nullable": true,
            "example": "4.10"
          },
          "u_all": {
            "type": "string",
            "nullable": true,
            "example": "4.50"
          },
          "e": {
            "type": "string",
            "nullable": true,
            "example": "-0.40"
          },
          "ebar": {
            "type": "string",
            "nullable": true,
            "example": "-0.60"
          },
          "odi": {
            "type": "string",
            "nullable": true,
            "example": "0.30"
          },
          "open": {
            "type": "boolean"
          },
          "open_reason": {
            "type": "string",
            "nullable": true,
            "enum": [
              "shock",
              "level",
              "both",
              null
            ]
          }
        }
      }
    }
  }
}
